*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header  */
header{
    background: url("../images/donation1.jpg");
    color: #ffffff;
    padding: 200px 200px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-title{
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: #FF5959;
    color: #ffffff;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 30px;
}
/* main*/
main{
    padding: 0 200px;
}

/* Donate Today section*/
.donate-today{
    margin-top: 130px;
    text-align: center;
    padding: 0 150px;
}

.donate-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.donate-description{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 30px;
}

.donate-container{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
.donate-item{
    background-color: #fafafa;
    margin: 10px;
    padding: 43px 25px;
    font-size: 30px;
    border-radius: 5px;
    font-weight: 700;
    color: #707070;
}
.donate-container > div:nth-child(2){
    border: 3px #FF5959 solid;
    color: #FF5959;
    background-color: #fff8f3;
}
.donate-amount{
    text-align: center;
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

/* *Donate Plan*   */
.donate-plan{
    margin-top: 130px;
    padding: 0 50px;
}

.donate-plan > div:first-child{
    padding: 0 150px;
    margin-bottom: 50px;
    text-align: center;
}
.donate-plan-container{
    display: flex;
    gap: 24px;
}

.plan-item{
    padding: 40px 25px;
    border-radius: 5px;
}
.item-title{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.item-description{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.donate-plan-container > div:first-child{
    background-color: #4f9da61a;
}
.donate-plan-container >div:nth-child(2){
    background-color: #ff59591a;
}
.donate-plan-container > div:last-child{
    background-color: #FFF4D6;
}

/* Donate About */
.donate-about{  
    margin-top: 130px;
    padding: 0 50px;
}
.about-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.item-img{
    width: 456px;
    height: 477px;
    border-radius: 5px;
}
.donate-about > div:first-child{
    margin-bottom: 100px;
}

/*  Get Update */
.get-update{
    margin-top: 130px;
    padding: 50px 150px;
    text-align: center;
    
}
.get-button{
    background-color:#FFF4D6;
    padding: 70px 150px;
    display: flex;
    justify-content: center;
}
.btn-sub{
    background-color: #FF5959;
    color: #ffffff;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px; 
    margin-left: 0;
}
.get-email{
    height: 48px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    margin-right: 0;
    padding-left: 10px;
    width: 50%;
}

/*Footer*/
footer{
    text-align: center;
    padding: 50px 0;
    background-color: #0B0D17;
}
footer h1{
    font-family: Lobster;
    font-size: 36px;
    font-weight: 400;
    color: #FF5959;
}
footer p{
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
}